/* 모바일 */
@media screen and (max-width : 720px) {
    body.overflowHidden{overflow: hidden;}

    /* 포인트 컬러 */
    mark{color: #ff0000;}
    
    /* 버튼 공통 */
    .btnCase{width: 230px; line-height: 55px; font-size: 18px; color: black; font-weight: 700; text-align: center; background-color: rgba(255, 255, 255, 0.8); border-radius: 200px;}
    
    /* 팝업 공통 */
    [class ^='popup']{display: none; flex-direction: column; position: fixed; left: 50%; top: 50%; transform: translate(-50% , -50%); width: 320px; padding: 0 20px; background-color: black; box-sizing: border-box; border: 1px solid #ff0000;}
    [class ^='popup'] button{width: 100%; height: 60px; font-size: 18px; font-weight: 700; border-top: 1px solid rgba(255, 255, 255, 0.14);}
    [data-popupName^="alert"] p{font-size: 16px; text-align: center; padding: 32px 0 35px;}
    [data-popupName^="agree"] div{padding: 20px 0;}
    [data-popupName^="agree"] div strong{display: block; font-size: 18px; font-weight: 700; margin-bottom: 20px;}
    [data-popupName^="agree"] div > *:not(strong){font-size: 16px; color: rgba(255, 255, 255, 0.8); line-height: 24px;}
    [data-popupName^="agree"] div ul li::before{content: '-';}
    
    /* 해더 */
    header{position: fixed; inset: 20px; z-index: 10; display: flex; flex-direction: column; justify-content: space-between; pointer-events: none;}
    header > div{display: flex; justify-content: space-between;}
    header :is(.topArea , .bottomArea) > *{pointer-events: all;}
    header .topArea{align-items: center;}
    header .topArea h1{width: 96px;}
    header .topArea h1 img{width: 100%;}
    header .topArea ul{display: none;}
    header .topArea ul li{width: 25px;}
    header .topArea ul li:not(:last-child){margin-right: 20px;}
    header .topArea ul li a img{width: 100%;}
    header .bottomArea{align-items: flex-end; font-size: 13px; font-weight: 700; color: white; }
    header .bottomArea div{background: url('../images/icon-star.png') no-repeat center / 12px;}
    header .bottomArea div > *{display: block;}
    header .bottomArea div > *:not(:last-child){margin-bottom: 38px;}
    header .bottomArea button{padding-right: 15px; background: url('../images/icon-top.png') no-repeat right center / 10px;}
    
    /* 화면 고정 텍스트 */
    .fixedText{position: fixed; right: 20px; top: calc(50% + 40px); width: 85px; height: 85px; z-index: 10; color: red; display: none; justify-content: center; align-items: center; background: url('../images/icon-right.png') no-repeat center / 30px;}
    .fixedText mark{font-size: 14px; font-weight: 800; position: relative; animation: rotateAni 7.5s linear infinite;}
    .fixedText mark span{position: absolute; left: 0; top: 0; transform-origin: left top;}
    @keyframes rotateAni {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    
    /* fullPage 공통 */
    .fullPage{position: fixed; left: 0; top: 0; width: 100%;  background-color: black; color: white; text-align: center; font-weight: 700;}
    .fullPage > *{width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column;}
}

/* 테블릿 */
@media screen and (min-width : 721px) and (max-width : 1280px) {
    body.overflowHidden{overflow: hidden;}

    /* 포인트 컬러 */
    mark{color: #ff0000;}
    
    /* 버튼 공통 */
    .btnCase{width: 320px; line-height: 75px; font-size: 24px; color: black; font-weight: 700; text-align: center; background-color: rgba(255, 255, 255, 0.8); border-radius: 200px;}
    
    /* 팝업 공통 */
    [class ^='popup']{display: none; flex-direction: column; position: fixed; left: 50%; top: 50%; transform: translate(-50% , -50%); padding: 0 20px; background-color: black; box-sizing: border-box; border: 1px solid #ff0000;}
    [class ^='popup'] button{width: 100%; height: 60px; font-size: 18px; font-weight: 700; border-top: 1px solid rgba(255, 255, 255, 0.14);}
    [data-popupName^="alert"]{width: 320px;}
    [data-popupName^="alert"] p{font-size: 16px; text-align: center; line-height: 62px; padding: 32px 0 35px;}
    [data-popupName^="agree"]{width: 640px;}
    [data-popupName^="agree"] div{padding: 20px 0;}
    [data-popupName^="agree"] div strong{display: block; font-size: 18px; font-weight: 700; margin-bottom: 20px;}
    [data-popupName^="agree"] div > *:not(strong){font-size: 16px; color: rgba(255, 255, 255, 0.8); line-height: 24px;}
    [data-popupName^="agree"] div ul li::before{content: '-';}
    
    /* 해더 */
    header{position: fixed; inset: 40px; z-index: 10; display: flex; flex-direction: column; justify-content: space-between; pointer-events: none;}
    header > div{display: flex; justify-content: space-between;}
    header :is(.topArea , .bottomArea) > *{pointer-events: all;}
    header .topArea{align-items: center;}
    header .topArea h1{width: 192px;}
    header .topArea h1 img{width: 100%;}
    header .topArea ul{display: none;}
    header .topArea ul li{width: 25px;}
    header .topArea ul li:not(:last-child){margin-right: 20px;}
    header .topArea ul li a img{width: 100%;}
    header .bottomArea{align-items: flex-end; font-size: 24px; font-weight: 700; color: white; }
    header .bottomArea div{background: url('../images/icon-star.png') no-repeat center / 16px;}
    header .bottomArea div > *{display: block;}
    header .bottomArea div > *:not(:last-child){margin-bottom: 75px;}
    header .bottomArea button{padding-right: 30px; background: url('../images/icon-top.png') no-repeat right center / 20px;}
    
    /* 화면 고정 텍스트 */
    .fixedText{position: fixed; right: 25px; top: calc(50% + 40px); width: 170px; height: 170px; z-index: 10; color: red; display: none; justify-content: center; align-items: center; background: url('../images/icon-right.png') no-repeat center / 60px;}
    .fixedText mark{font-size: 27px; font-weight: 800; position: relative; animation: rotateAni 7.5s linear infinite;}
    .fixedText mark span{position: absolute; left: 0; top: 0; transform-origin: left top;}
    @keyframes rotateAni {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    
    /* fullPage 공통 */
    .fullPage{position: fixed; left: 0; top: 0; width: 100%;  background-color: black; color: white; text-align: center; font-weight: 700;}
    .fullPage > *{width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column;}
}

/* PC */
@media screen and (min-width : 1281px) {
    body.overflowHidden{overflow: hidden;}

    /* 포인트 컬러 */
    mark{color: #ff0000;}
    
    /* 버튼 공통 */
    .btnCase{width: 320px; line-height: 75px; font-size: 24px; color: black; font-weight: 700; text-align: center; background-color: rgba(255, 255, 255, 0.8); border-radius: 200px;}
    
    /* 팝업 공통 */
    [class ^='popup']{display: none; flex-direction: column; position: fixed; left: 50%; top: 50%; transform: translate(-50% , -50%); padding: 0 20px; background-color: black; box-sizing: border-box; border: 1px solid #ff0000;}
    [class ^='popup'] button{width: 100%; height: 60px; font-size: 18px; font-weight: 700; border-top: 1px solid rgba(255, 255, 255, 0.14);}
    [data-popupName^="alert"]{width: 320px;}
    [data-popupName^="alert"] p{font-size: 16px; text-align: center; line-height: 62px; padding: 32px 0 35px;}
    [data-popupName^="agree"]{width: 640px;}
    [data-popupName^="agree"] div{padding: 20px 0;}
    [data-popupName^="agree"] div strong{display: block; font-size: 18px; font-weight: 700; margin-bottom: 20px;}
    [data-popupName^="agree"] div > *:not(strong){font-size: 16px; color: rgba(255, 255, 255, 0.8); line-height: 24px;}
    [data-popupName^="agree"] div ul li::before{content: '- ';}
    
    /* 해더 */
    header{position: fixed; inset: 30px 40px 40px; z-index: 10; display: flex; flex-direction: column; justify-content: space-between; pointer-events: none;}
    header > div{display: flex; justify-content: space-between;}
    header :is(.topArea , .bottomArea) > *{pointer-events: all;}
    header .topArea{align-items: center;}
    header .topArea h1{width: 128px;}
    header .topArea h1 img{width: 100%;}
    header .topArea ul{/* display: flex; */ display: none;}
    header .topArea ul li{width: 25px;}
    header .topArea ul li:not(:last-child){margin-right: 20px;}
    header .topArea ul li a img{width: 100%;}
    header .bottomArea{align-items: flex-end; font-size: 18px; font-weight: 700; color: white; }
    header .bottomArea div{background: url('../images/icon-star.png') no-repeat center / 11.5px;}
    header .bottomArea div > *{display: block;}
    header .bottomArea div > *:not(:last-child){margin-bottom: 50px;}
    header .bottomArea button{padding-right: 20px; background: url('../images/icon-top.png') no-repeat right center;}
    
    /* 화면 고정 텍스트 */
    .fixedText{position: fixed; left: calc(50% + 200px); top: calc(50% + 40px); width: 160px; height: 160px; z-index: 10; color: red; display: none; justify-content: center; align-items: center; background: url('../images/icon-right.png') no-repeat center;}
    .fixedText mark{font-size: 26px; font-weight: 800; position: relative; animation: rotateAni 7.5s linear infinite;}
    .fixedText mark span{position: absolute; left: 0; top: 0; transform-origin: left top;}
    @keyframes rotateAni {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    
    /* fullPage 공통 */
    .fullPage{position: fixed; left: 0; top: 0; width: 100%;  background-color: black; color: white; text-align: center; font-weight: 700;}
    .fullPage > *{width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column;}
}


